<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
    <title>随州麻将</title>

		<!-- basic styles -->

		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<link rel="stylesheet" href="assets/css/prettify.css" />

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

<body>
<div class="col-sm-8">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box">

        <div class="widget-body">
          <div class="widget-main">
            <dl id="dt-list-1">
              <dt>一、基本玩法</dt>
              <dd>(一)2倍起胡(屁胡只能自摸)，可以点炮，自摸，抢杠胡。 </dd>
              <dd>(二)只能碰杠，不能吃，最后一张牌不可杠。 </dd>
              <dd>(三)其他玩家亮倒后，自己非亮倒情况下不能打出亮牌玩家要胡的牌，对亮点炮不计算包胡。</dd>
              <dd>(四)番型倍数相乘+杠分+漂分+马，封顶不包含杠，漂，马。</dd>
              <dd>(五)放炮1家出，自摸2家出。</dd>
              <dd>(六)黄庄，结算杠牌分。有人亮倒，有人没有听牌，没有听牌的要给每人赔一分。</dd>
              <dd>另外两家都听牌，亮倒的人一人赔一分，亮倒的人下一局做庄。</dd>
              <dd>(七)放杠仅放杠玩家出1倍，蓄杠2家均出1倍，暗杠2家均出2倍。</dd>
              <dd>(八)部分亮倒：亮出所要胡的那组牌,选择盖牌,盖起的牌必须是刻子,亮倒后只能胡,杠,不能其它操作。</dd>
              <dd>(九)全部亮倒：全部手牌亮倒。 </dd>
              <hr />
              <dt>亮倒自摸买马</dt>
              <dd>亮倒自摸买马: 玩家亮倒自摸情况下，可从牌墙最后摸一张，摸到几加几分，中发白加10分,胡最后一张时无法买马。</dd>
              <dd>自摸买马: 玩家自摸情况下，可从牌墙最后摸一张，摸到几加几分，中发白加10分,胡最后一张时无法买马。</dd>
              <hr />
              <dt>二、基本番型</dt>
              <dd>(一)屁胡 * 1 ：普通3n+2牌型。 </dd>
              <dd>(二)碰碰胡 * 2：1对将+n个刻了组成3n+2牌型。 </dd>
              <dd>(三)清一色 * 4：同色牌组成3n+2牌型。 </dd>
              <dd>(四)明四归 * 2：碰牌后胡牌时，手上有第4张牌。 </dd>
              <dd>(五)杠上开花 * 2：杠来自己胡的牌。 </dd>
              <dd>(六)杠上炮 * 2：胡别人杠后打出的牌。 </dd>
              <dd>(七)亮倒 * 2：听牌后，亮出手牌。 </dd>
              <dd>(八)海底捞月 * 2：胡最后一张。 </dd>
              <dd>(九)海底炮 * 2：胡最后一张打出的牌。 </dd>
              <dd>(十一)包胡 * 2: 放炮给亮倒玩家。 </dd>
              <dd>(十二)卡五星 * 2: 胡卡5饼，5条。 </dd>
              <dd>(十三)七对 * 4: 七个对子组成。 </dd>
              <dd>(十四)暗四归 * 4: 胡牌时手上有4张未杠的相同牌。 </dd>
              <dd>(十五)单钓 * 4: 手牌只剩1张。 </dd>
              <dd>(十六)小三元 * 4: 胡牌时，有中发白的两副刻子和一对将牌。 </dd>
              <dd>(十七)大三元 * 8: 胡牌时，有中发白的三副刻子。 </dd>
              <dd>(十八)豪七对 * 8: 七对基础上有1暗杠在手上。 </dd>
              <dd>(十九)超豪七对 * 32: 七对基础上有2暗杠在手上。 </dd>
              <hr />
              <dd>三、联系客服</dd>
              <dt>移动电话: 15986799111, QQ: , 微信公众号: tunanhudong </dt>
            </dl>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>
